---
import Nav from '../components/Nav.astro';

const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{title} | shinnmar.dev</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <footer>
      <p>© 2026 shinnmar</p>
    </footer>
  </body>
</html>